# Main directory
**/node_modules
**/.idea
website

# CDK
packages/cdk/.cdk.staging
**/cdk.out
packages/cdk/**/*.js
packages/cdk/*.d.ts
!packages/cdk/jest.config.js

# API
packages/api/**/*.js
packages/api/**/*.d.ts